Intermediate/Build/BuildRules/PCBenchMark_EditorRecompileModuleRules.dll
Intermediate/Build/BuildRules/PCBenchMark_EditorRecompileModuleRules.pdb
Intermediate/Build/BuildRules/PCBenchMark_EditorRecompileModuleRulesSourceFiles.txt
Intermediate/Build/Win64/Inc/PCBenchMark/CreateNewObject.generated.h
Intermediate/Build/Win64/Inc/PCBenchMark/MyCharacter.generated.h
Intermediate/Build/Win64/Inc/PCBenchMark/PCBenchMark.generated.cpp
Intermediate/Build/Win64/Inc/PCBenchMark/PCBenchMark.generated.dep.h
Intermediate/Build/Win64/Inc/PCBenchMark/PCBenchMark.generated.inl
Intermediate/Build/Win64/Inc/PCBenchMark/PCBenchMarkClasses.h
Intermediate/Build/Win64/Inc/PCBenchMark/PCBenchMarkGameMode.generated.h
Intermediate/Build/Win64/Inc/PCBenchMark/Timestamp
Intermediate/Build/Win64/PCBenchMarkEditor/DependencyCache.bin
Intermediate/Build/Win64/PCBenchMarkEditor/Development/PCBenchMark/PCBenchMark.h
Intermediate/Build/Win64/PCBenchMarkEditor/Development/UnrealHeaderTool.manifest
Intermediate/CachedAssetRegistry.bin
Saved/Config/CleanSourceConfigs/Compat.ini
Saved/Config/CleanSourceConfigs/DeviceProfiles.ini
Saved/Config/CleanSourceConfigs/Editor.ini
Saved/Config/CleanSourceConfigs/EditorGameAgnostic.ini
Saved/Config/CleanSourceConfigs/EditorKeyBindings.ini
Saved/Config/CleanSourceConfigs/EditorLayout.ini
Saved/Config/CleanSourceConfigs/EditorUserSettings.ini
Saved/Config/CleanSourceConfigs/Engine.ini
Saved/Config/CleanSourceConfigs/Game.ini
Saved/Config/CleanSourceConfigs/GameUserSettings.ini
Saved/Config/CleanSourceConfigs/Input.ini
Saved/Config/CleanSourceConfigs/Lightmass.ini
Saved/Config/CleanSourceConfigs/Scalability.ini
Saved/Config/CleanSourceConfigs/SourceControlSettings.ini
Saved/Config/CleanSourceConfigs/TemplateDefs.ini
Saved/Config/Windows/Compat.ini
Saved/Config/Windows/DeviceProfiles.ini
Saved/Config/Windows/Editor.ini
Saved/Config/Windows/EditorKeyBindings.ini
Saved/Config/Windows/EditorLayout.ini
Saved/Config/Windows/EditorUserSettings.ini
Saved/Config/Windows/Engine.ini
Saved/Config/Windows/Game.ini
Saved/Config/Windows/GameUserSettings.ini
Saved/Config/Windows/Input.ini
Saved/Config/Windows/Lightmass.ini
Saved/Config/Windows/Scalability.ini
Saved/Config/Windows/SourceControlSettings.ini
Saved/Config/Windows/TemplateDefs.ini
Saved/Logs/PCBenchMark.log
Saved/Logs/PCBenchMark-backup-2015.01.28-13.58.50.log
/Binaries/Win64/UE4Editor-PCBenchMark-Win64-DebugGame.dll
/Binaries/Win64/UE4Editor-PCBenchMark-Win64-DebugGame.pdb
/Binaries/Win64/UE4Editor-PCBenchMark.pdb
/Config/DefaultInput.ini
/Intermediate/Build/ActionHistory.bin
/Intermediate/Build/BuildRules/PCBenchMarkEditorModuleRules.dll
/Intermediate/Build/BuildRules/PCBenchMarkEditorModuleRules.pdb
/Intermediate/Build/BuildRules/PCBenchMarkEditorModuleRulesSourceFiles.txt
/Intermediate/Build/BuildRules/PCBenchMarkProjectFileGeneratorModuleRules.dll
/Intermediate/Build/BuildRules/PCBenchMarkProjectFileGeneratorModuleRules.pdb
/Intermediate/Build/BuildRules/PCBenchMarkProjectFileGeneratorModuleRulesSourceFiles.txt
/Intermediate/Build/Unused/PCBenchMark.log
/Intermediate/Build/Win64/Inc/PCBenchMark/Metrics.generated.h
/Intermediate/Build/Win64/PCBenchMark/Development/UE4Editor-PCBenchMark-Win64-DebugGame.dll.response
/Intermediate/Build/Win64/PCBenchMark/Development/UE4Editor-PCBenchMark.dll.response
/Intermediate/Build/Win64/PCBenchMarkEditor/DebugGame/PCBenchMark/CreateNewObject.cpp.obj
/Intermediate/Build/Win64/PCBenchMarkEditor/DebugGame/PCBenchMark/Metrics.cpp.obj
/Intermediate/Build/Win64/PCBenchMarkEditor/DebugGame/PCBenchMark/ModuleVersionResource.rc.inl.res
/Intermediate/Build/Win64/PCBenchMarkEditor/DebugGame/PCBenchMark/MyCharacter.cpp.obj
/Intermediate/Build/Win64/PCBenchMarkEditor/DebugGame/PCBenchMark/MyClass.cpp.obj
/Intermediate/Build/Win64/PCBenchMarkEditor/DebugGame/PCBenchMark/PCBenchMark.cpp.obj
/Intermediate/Build/Win64/PCBenchMarkEditor/DebugGame/PCBenchMark/PCBenchMark.generated.cpp.obj
/Intermediate/Build/Win64/PCBenchMarkEditor/DebugGame/PCBenchMark/PCBenchMark.h
/Intermediate/Build/Win64/PCBenchMarkEditor/DebugGame/PCBenchMark/PCBenchMark.h.obj
/Intermediate/Build/Win64/PCBenchMarkEditor/DebugGame/PCBenchMark/PCBenchMark.h.pch
/Intermediate/Build/Win64/PCBenchMarkEditor/DebugGame/PCBenchMark/PCBenchMark.rc.res
/Intermediate/Build/Win64/PCBenchMarkEditor/DebugGame/PCBenchMark/PCBenchMarkGameMode.cpp.obj
/Intermediate/Build/Win64/PCBenchMarkEditor/DebugGame/PCBenchMark/PCH.PCBenchMark.PCBenchMark.h.cpp
/Intermediate/Build/Win64/PCBenchMarkEditor/DebugGame/UE4Editor-PCBenchMark-Win64-DebugGame.exp
/Intermediate/Build/Win64/PCBenchMarkEditor/DebugGame/UE4Editor-PCBenchMark-Win64-DebugGame.lib
/Intermediate/Build/Win64/PCBenchMarkEditor/DebugGame/UnrealHeaderTool.manifest
/Intermediate/Build/Win64/PCBenchMarkEditor/Development/PCBenchMark/CreateNewClass.cpp.obj
/Intermediate/Build/Win64/PCBenchMarkEditor/Development/PCBenchMark/CreateNewObject.cpp.obj
/Intermediate/Build/Win64/PCBenchMarkEditor/Development/PCBenchMark/Metrics.cpp.obj
/Intermediate/Build/Win64/PCBenchMarkEditor/Development/PCBenchMark/ModuleVersionResource.rc.inl.res
/Intermediate/Build/Win64/PCBenchMarkEditor/Development/PCBenchMark/MyCharacter.cpp.obj
/Intermediate/Build/Win64/PCBenchMarkEditor/Development/PCBenchMark/MyClass.cpp.obj
/Intermediate/Build/Win64/PCBenchMarkEditor/Development/PCBenchMark/PCBenchMark.cpp.obj
/Intermediate/Build/Win64/PCBenchMarkEditor/Development/PCBenchMark/PCBenchMark.generated.cpp.obj
/Intermediate/Build/Win64/PCBenchMarkEditor/Development/PCBenchMark/PCBenchMark.h.obj
/Intermediate/Build/Win64/PCBenchMarkEditor/Development/PCBenchMark/PCBenchMark.h.pch
/Intermediate/Build/Win64/PCBenchMarkEditor/Development/PCBenchMark/PCBenchMark.rc.res
/Intermediate/Build/Win64/PCBenchMarkEditor/Development/PCBenchMark/PCBenchMarkGameMode.cpp.obj
/Intermediate/Build/Win64/PCBenchMarkEditor/Development/PCBenchMark/PCH.PCBenchMark.PCBenchMark.h.cpp
/Intermediate/Build/Win64/PCBenchMarkEditor/Development/UE4Editor-PCBenchMark.exp
/Intermediate/Build/Win64/PCBenchMarkEditor/Development/UE4Editor-PCBenchMark.lib
/Intermediate/ProjectFiles/PCBenchMark.vcxproj
/Intermediate/ProjectFiles/PCBenchMark.vcxproj.filters
/Intermediate/ProjectFiles/PCBenchMark.vcxproj.user
/PCBenchMark.opensdf
/PCBenchMark.sdf
/PCBenchMark.v12.suo
/Saved/AutoScreenshot.png
/Saved/Autosaves/Game/Blueprints/MetricManager_Auto1.uasset
/Saved/Autosaves/Game/Blueprints/MetricManager_Auto2.uasset
/Saved/Autosaves/Game/Blueprints/MetricManager_Auto3.uasset
/Saved/Autosaves/Game/Blueprints/MetricManager_Auto4.uasset
/Saved/Autosaves/Game/Blueprints/MetricManager_Auto5.uasset
/Saved/Autosaves/Game/Blueprints/MetricManager_Auto6.uasset
/Saved/Autosaves/Game/Blueprints/MetricManager_Auto7.uasset
/Saved/Autosaves/Game/Levels/Demo_Auto1.umap
/Saved/Autosaves/Game/Levels/Demo_Auto2.umap
/Saved/Autosaves/Game/Levels/Demo_Auto3.umap
/Saved/Autosaves/Game/Levels/Demo_Auto4.umap
/Saved/Autosaves/Game/Levels/Demo_Auto5.umap
/Saved/Autosaves/Game/Levels/Demo_Auto6.umap
/Saved/Autosaves/Game/Levels/Demo_Auto7.umap
/Saved/Autosaves/Game/Levels/MainMenu_Auto1.umap
/Saved/Autosaves/Game/Levels/MainMenu_Auto2.umap
/Saved/Autosaves/Game/Levels/MainMenu_Auto6.umap
/Saved/Autosaves/Game/Levels/Results_Auto4.umap
/Saved/Autosaves/Game/Materials/DisplacementMountain1_Auto4.uasset
/Saved/Autosaves/Game/StarterContent/Materials/M_AssetPlatform_Auto1.uasset
/Saved/Autosaves/Game/Textures/Rock_Base_Disp_tiled_Auto5.uasset
/Saved/Autosaves/Game/Textures/Rock_Base_Nrm_tiled_Auto7.uasset
/Saved/Autosaves/Game/UI/DemoManager_Auto2.uasset
/Saved/Autosaves/Game/UI/DemoResults_Auto1.uasset
/Saved/Autosaves/Game/UI/DemoResults_Auto3.uasset
/Saved/Autosaves/Game/UI/DemoResults_Auto4.uasset
/Saved/Autosaves/Game/UI/DemoResults_Auto6.uasset
/Saved/Autosaves/Game/UI/DemoSettings_Auto3.uasset
/Saved/Autosaves/Game/UI/MainMenu_Auto1.uasset
/Saved/Autosaves/Game/UI/MainMenu_Auto2.uasset
/Saved/Autosaves/Game/UI/MainMenu_Auto3.uasset
/Saved/Autosaves/Game/UI/MetricCollector_Auto5.uasset
/Saved/Autosaves/Game/UI/MetricCollector_Auto6.uasset
/Saved/Autosaves/Game/UI/MetricManager_Auto1.uasset
/Saved/Autosaves/Game/UI/MetricManager_Auto2.uasset
/Saved/Autosaves/Game/UI/NewBlueprint_Auto3.uasset
/Saved/Autosaves/Game/UI/ResultsScreen_Auto4.uasset
/Saved/Autosaves/Game/UI/ResultsScreen_Auto5.uasset
/Saved/Autosaves/PackageRestoreData.json
/Saved/Backup/DemoResults_2015-01-22-12-03-21.uasset
/Saved/Backup/DemoResults_2015-01-22-12-13-22.uasset
/Saved/Backup/DemoResults_2015-01-22-12-19-08.uasset
/Saved/Backup/DemoResults_2015-01-22-12-39-37.uasset
/Saved/Backup/DemoResults_2015-01-22-13-43-12.uasset
/Saved/Backup/DemoResults_2015-01-22-13-50-18.uasset
/Saved/Backup/DemoResults_2015-01-23-12-48-49.uasset
/Saved/Backup/DemoSettings_2015-01-22-13-44-20.uasset
/Saved/Backup/Demo_2015-01-23-13-13-49.umap
/Saved/Backup/Demo_2015-01-23-13-27-29.umap
/Saved/Backup/Demo_2015-01-23-13-39-05.umap
/Saved/Backup/Demo_2015-01-23-14-22-48.umap
/Saved/Backup/Demo_2015-01-23-14-42-39.umap
/Saved/Backup/Demo_2015-01-23-14-52-04.umap
/Saved/Backup/Demo_2015-01-23-15-02-04.umap
/Saved/Backup/Demo_2015-01-23-15-12-14.umap
/Saved/Backup/Demo_2015-01-23-15-22-16.umap
/Saved/Backup/Demo_2015-01-23-15-32-22.umap
/Saved/Backup/Demo_2015-01-23-15-43-12.umap
/Saved/Backup/Demo_2015-01-23-15-53-13.umap
/Saved/Backup/Demo_2015-01-23-17-13-19.umap
/Saved/Backup/Demo_2015-01-28-13-22-36.umap
/Saved/Backup/Demo_2015-01-28-13-41-21.umap
/Saved/Backup/DisplacementMountain1_2015-01-23-14-31-50.uasset
/Saved/Backup/DisplacementMountain1_2015-01-23-14-37-53.uasset
/Saved/Backup/DisplacementMountain1_2015-01-23-14-44-26.uasset
/Saved/Backup/DisplacementMountain1_2015-01-23-15-03-04.uasset
/Saved/Backup/DisplacementMountain1_2015-01-23-15-08-52.uasset
/Saved/Backup/DisplacementMountain1_2015-01-23-15-14-46.uasset
/Saved/Backup/DisplacementMountain1_2015-01-23-15-19-57.uasset
/Saved/Backup/DisplacementMountain1_2015-01-23-15-25-20.uasset
/Saved/Backup/DisplacementMountain1_2015-01-23-15-34-34.uasset
/Saved/Backup/DisplacementMountain1_2015-01-23-15-44-53.uasset
/Saved/Backup/M_AssetPlatform_2015-01-23-14-42-39.uasset
/Saved/Backup/M_AssetPlatform_2015-01-23-14-52-04.uasset
/Saved/Backup/MainMenu_2015-01-22-11-13-26.umap
/Saved/Backup/MainMenu_2015-01-22-11-32-52.umap
/Saved/Backup/MainMenu_2015-01-22-11-37-51.uasset
/Saved/Backup/MainMenu_2015-01-22-11-43-00.umap
/Saved/Backup/MainMenu_2015-01-22-11-43-59.uasset
/Saved/Backup/MainMenu_2015-01-22-11-53-16.umap
/Saved/Backup/MainMenu_2015-01-22-12-03-21.uasset
/Saved/Backup/MainMenu_2015-01-22-12-19-25.uasset
/Saved/Backup/MainMenu_2015-01-22-12-19-25.umap
/Saved/Backup/MainMenu_2015-01-22-12-39-37.umap
/Saved/Backup/MainMenu_2015-01-23-13-07-14.uasset
/Saved/Backup/MainMenu_2015-01-23-13-13-50.uasset
/Saved/Backup/MainMenu_2015-01-23-13-23-34.uasset
/Saved/Backup/MainMenu_2015-01-28-10-53-12.uasset
/Saved/Backup/MainMenu_2015-01-28-14-08-23.uasset
/Saved/Backup/MainMenu_2015-01-29-10-59-09.uasset
/Saved/Backup/MetricManager_2015-01-22-13-44-34.uasset
/Saved/Backup/MetricManager_2015-01-22-13-53-13.uasset
/Saved/Backup/MetricManager_2015-01-23-12-46-03.uasset
/Saved/Backup/MetricManager_2015-01-23-12-52-50.uasset
/Saved/Backup/MetricManager_2015-01-23-13-00-10.uasset
/Saved/Backup/MetricManager_2015-01-23-13-23-34.uasset
/Saved/Backup/MetricManager_2015-01-28-10-19-53.uasset
/Saved/Backup/MetricManager_2015-01-28-10-28-31.uasset
/Saved/Backup/MetricManager_2015-01-28-10-42-26.uasset
/Saved/Backup/MetricManager_2015-01-28-10-52-29.uasset
/Saved/Backup/MetricManager_2015-01-28-12-05-31.uasset
/Saved/Backup/MetricManager_2015-01-28-13-41-21.uasset
/Saved/Backup/MetricManager_2015-01-29-09-25-10.uasset
/Saved/Backup/MetricManager_2015-01-29-09-35-11.uasset
/Saved/Backup/MetricManager_2015-01-29-09-45-12.uasset
/Saved/Backup/MetricManager_2015-01-29-09-55-44.uasset
/Saved/Backup/MetricManager_2015-01-29-10-05-44.uasset
/Saved/Backup/MetricManager_2015-01-29-10-15-45.uasset
/Saved/Backup/MetricManager_2015-01-29-10-26-16.uasset
/Saved/Backup/MetricManager_2015-01-29-10-45-10.uasset
/Saved/Backup/NextLevel_2015-01-23-13-01-01.uasset
/Saved/Backup/NextLevel_2015-01-23-13-06-11.uasset
/Saved/Backup/NextLevel_2015-01-23-13-23-34.uasset
/Saved/Backup/NextLevel_2015-01-28-10-20-02.uasset
/Saved/Backup/NextLevel_2015-01-28-10-28-33.uasset
/Saved/Backup/NextLevel_2015-01-28-13-22-13.uasset
/Saved/Backup/ResultGameMode_2015-01-28-13-14-48.uasset
/Saved/Backup/ResultsScreen_2015-01-23-13-25-32.uasset
/Saved/Backup/ResultsScreen_2015-01-28-12-17-49.uasset
/Saved/Backup/ResultsScreen_2015-01-28-12-23-31.uasset
/Saved/Backup/ResultsScreen_2015-01-28-12-31-06.uasset
/Saved/Backup/ResultsScreen_2015-01-28-13-14-48.uasset
/Saved/Backup/ResultsScreen_2015-01-28-13-20-27.uasset
/Saved/Backup/ResultsScreen_2015-01-28-13-45-21.uasset
/Saved/Backup/ResultsScreen_2015-01-28-14-06-08.uasset
/Saved/Backup/ResultsScreen_2015-01-29-08-12-01.uasset
/Saved/Backup/Results_2015-01-23-13-26-06.umap
/Saved/Backup/Results_2015-01-28-12-17-49.umap
/Saved/Backup/Results_2015-01-28-12-22-57.umap
/Saved/Backup/Results_2015-01-28-12-31-12.umap
/Saved/Config/WorldState/3598823965.json
/Saved/Config/WorldState/3736560376.json
/Saved/Config/WorldState/4067649006.json
/Saved/Config/WorldState/409108859.json
/Saved/Config/WorldState/4255023168.json
/Saved/Logs/Dump-1786304.dmp
/Saved/Logs/PCBenchMark-backup-2015.01.28-08.04.50.log
/Saved/Logs/PCBenchMark-backup-2015.01.28-09.32.29.log
/Saved/Logs/PCBenchMark-backup-2015.01.28-09.36.37.log
/Saved/Logs/PCBenchMark-backup-2015.01.28-09.45.45.log
/Saved/Logs/PCBenchMark-backup-2015.01.28-10.06.12.log
/Saved/Logs/PCBenchMark-backup-2015.01.28-10.21.00.log
/Saved/Logs/PCBenchMark-backup-2015.01.28-13.26.42.log
/Saved/Logs/PCBenchMark-backup-2015.01.28-13.27.27.log
/Saved/Logs/PCBenchMark-backup-2015.01.28-13.30.11.log
/Saved/Logs/PCBenchMark-backup-2015.01.28-13.35.34.log
/Saved/Logs/PCBenchMark-backup-2015.01.28-14.02.33.log
/Saved/Logs/PCBenchMark-backup-2015.01.28-14.31.53.log
/Saved/Logs/PCBenchMark-backup-2015.01.29-08.06.16.log
/Saved/Logs/PCBenchMark-backup-2015.01.29-08.06.49.log
/Saved/Logs/PCBenchMark-backup-2015.01.29-09.14.58.log
/Saved/Logs/PCBenchMark-backup-2015.01.29-10.27.32.log
/Saved/Logs/PCBenchMark-backup-2015.01.29-10.48.45.log
/Saved/Logs/PCBenchMark-backup-2015.01.29-10.49.24.log
/Saved/Logs/PCBenchMark-backup-2015.01.29-10.58.05.log
/Saved/Logs/PCBenchMark-backup-2015.01.29-11.00.27.log
/Saved/SaveGames/DemoResults.sav
/Saved
